.footer{
    width: 153px;
  height: 20px;
  margin: 9px 928px 8px 29px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.43;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}