<div class="row">
    <div class="col-md-12">
        <app-header-profile></app-header-profile>
    </div>
</div>


<div class="row" style="background-color: #f4f4f4;">
    <div class="col-md-2">
        <app-left-menu></app-left-menu>
    </div>
    <div class="col-md-10">
        <div class="row ">
            <div class="col-md-11" style="margin-left:90px;padding-right: 50px;">
                <div class="row " style="padding-top: 0px;">
                    <div class="col-md-6" style="width: 500px;">
                        <div class="profile-data">
                            <div class="profile-baner">
                                <div class="profile-info">
                                    <div class="profile-pic">
                                        <img src="../../assets/img/user.png"  height="60" width="60" style="margin-top: 32px;">

                                        <span class="profile-title">
                                                {{profileName}}
                                        </span>
                                        <span class="profile-desc">
                                            User ID:1536958
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" style="width: 500px;">


                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>