.profile-baner{
    width: 493px;
    height: 151px;
    margin: 0 0 98px;
    padding: 26px 167px 97px 168px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #7a1281;
}
.profile-info{
    width: 411px;
    height: 137px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-left: -130px;
    margin-top: 46px;
}

.profile-pic
{

  margin: 30px;
}
.profile-data{
    width: 494px;
  height: 650px;
  margin-left:-39px;
  margin-top: 54px;
  border: solid 1px #d4d4d4;
  background-color: #ffffff;
}
.profile-title{
    width: 144px;
    height: 35px;
    margin: 18px 0 13px 68px;    
    font-size: 25px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    text-align: left;
    color: #000000
}

.profile-desc{
  width: 143px;
  height: 25px;
  margin-left: 135px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}