.header-head{
    width: 1366px;
  height: 60px;
  margin: 0 0 0;
  padding: 8px 20.9px 9px 20px;
  background-color: #93139c;
}

.logo {
    width: 156px;
    height: 39px;
    margin: 0 95px 4px 0;
    object-fit: contain;
  }

  .profilepic{
      width: 30px;
  height: 30px;
  margin: 0 13px 13px 0;
  vertical-align: middle;
  border-radius: 50%;
  }

  .profilename{
    width: 103px;
    height: 24px;
    margin: 9px 14.4px 8px 13px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }