<div class="left-menu-container">


    <ul class="list-group">
        <li class="list-group-item">
         <a (click)="redirectToDash()" ><img src="../../../assets/img/dashboard icon.png"><span class="leftul">Dashboard</span></a> 
        </li>
        <li class="list-group-item">
          <a (click)="redirectToorder()" ><img src="../../../assets/img/order-request-icon.png"><span class="leftul">Order Request</span></a>
        </li>
        <li class="list-group-item">
          <img src="../../../assets/img/test-orders.png"><span class="leftul">Test Order</span>
        </li>
        
      </ul>


    
</div>